div.Result {
  display: flex;
  justify-content: center;
}

div.Result-Container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

div.Result-Container-item {
  margin: 1em;
  padding: 1em;
  border: black 2px solid;
}

div.Bridges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.Bridge-Container {
  margin: 2em;
}

div.Bridge {
  padding: 1em;
  border: black 2px solid;
}

div.Hiker-Container {
  margin: 2em;
}

div.Hiker {
  padding: 1em;
  border: black 2px solid;
}

div.Control-Buttons {
  justify-content: center;
  display: flex;
}

p.Error-Message {
  text-align: center;
  color: red;
}
