div.Bridges {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.Bridge {
  margin: 2em;
  padding: 1em;
  border: black 2px solid;
}

div.Hiker {
  margin: 2em;
  padding: 1em;
  border: black 2px solid;
}

div.Control-Buttons {
  justify-content: center;
  display: flex;
}